body {
  text-align: center;
}

h1 {
  font-size: 30px;
  color: rgb(32, 33, 36);
  margin-bottom: 0px;
}

h5 {
  text-transform: capitalize;
  color: rgb(112, 117, 122);
  margin-bottom: 0px;
}

h6 {
  color: rgb(112, 117, 122);
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px 60px;
  background-color: #95908a;
  border-radius: 30px;
  background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  box-shadow: rgb(0 0 0 / 30%) 10px 10px 20px;
}

.header {
  font-family: "Roboto Serif", serif;
}

.indicator {
  list-style-type: none;
  font-size: 15px;
  padding-top: 20px;
}

.headerTemperature {
  font-size: 50px;
}

.future-weather {
  list-style-type: none;
  padding-left: 5px;
}

.coders-name {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
}

.coders-link {
  font-size: 12px;
  margin-left: 70px;
}

.separator {
  right: 5px;
}

#celsius-link,
#fahrenheit-link,
.separator {
  color: rgb(32, 33, 36);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  position: relative;
  top: -25px;
}

#fahrenheit-link {
  color: rgb(112, 117, 122);
  right: 12px;
}

#icon-forecast {
  width: 70px;
}

#night-temperature {
  opacity: 0.8;
}
